html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

.animate-float {
  animation: float 5s ease-in-out infinite;
}
@keyframes float {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
}

.scrolled {
  background-color: #fb6f92;
  backdrop-filter: blur(0px);
  border-color: transparent;
  transition: all 0.3s ease-in-out;
  color: white;
}
